html{
	box-sizing: border-box;
	background: url('https://source.unsplash.com/NFs6dRTBgam/2000x2000');
}

.items.active{
	background: rgba(255,255,255,0.3);
	cursor: grabbing;
	cursor: -webkit-grabbing;
	transform: scale(1);
}

.item {
	width: 200px;
	height: calc(100%-40px);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 80px;
}